<div fxFlex="100" fxLayout="column" class="table-responsive">
    <mat-table fxFlex="100" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="NOMBRE"> {{ row.name }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TIPO</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="TIPO"> {{ row.type }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCIÓN</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="DESCRIPCIÓN"> {{ row.description }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="PRECIO"> {{row.price | currency: '$'}}  </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES</mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="ACCIONES">
                <button mat-icon-button type="button" (click)="_edit(row.id)">
                    <mat-icon> edit</mat-icon>
                </button>
                <button mat-icon-button type="button" (click)="_remove(row.id)">
                    <mat-icon> delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator fxFlex="100" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>