<form fxFlex="100" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px grid" [formGroup]="form">
    <mat-form-field appearance="outline" fxFlex="100" [style.marginBottom]="'-1.25em'">
        <mat-label> Nombre</mat-label>
        <input matInput type="text" formControlName="name" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="100" [style.marginBottom]="'-1.25em'">
        <mat-label> Descripción</mat-label>
        <textarea matInput type="text" formControlName="description" required></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Precio (pizzeta)</mat-label>
        <input matInput type="number" formControlName="priceSmall" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Puntos por unidad (pizzeta)</mat-label>
        <input matInput type="number" formControlName="pointPerUnitSmall" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Precio en puntos (pizzeta)</mat-label>
        <input matInput type="number" formControlName="pricePerPointSmall" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Precio (mediana)</mat-label>
        <input matInput type="number" formControlName="priceMedium" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Puntos por unidad (mediana)</mat-label>
        <input matInput type="number" formControlName="pointPerUnitMedium" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Precio en puntos (mediana)</mat-label>
        <input matInput type="number" formControlName="pricePerPointMedium" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Precio (grande)</mat-label>
        <input matInput type="number" formControlName="priceLarge" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Puntos por unidad (grande)</mat-label>
        <input matInput type="number" formControlName="pointPerUnitLarge" required/>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33.3" [style.marginBottom]="'-1.25em'">
        <mat-label> Precio en puntos (grande)</mat-label>
        <input matInput type="number" formControlName="pricePerPointLarge" required/>
    </mat-form-field>
</form>
