<div fxFlex="100" class="shop-wrap p10" fxLayout="row" fxLayoutWrap="wrap">
    <div class="full-width">
        <div fxLayout="row" class="shop-top-toolbar">
            <div class="product-search-wrap">
                <form [formGroup]="filterForm">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Buscar por nombre" apareance="outline"
                            [formControl]="filterForm.controls['search']">
                    </mat-form-field>
                </form>
            </div>
            <span fxFlex></span>
            <button mat-mini-fab color="primary" routerLink="/pages/sales/cart"
                [matBadge]="(_productService.productsInCart$ | async).length" matBadgePosition="below after"
                matBadgeColor="accent">
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </div>
        <div class="product-container" [ngClass]="{'list-view': viewMode === 'list-view'}">
            <div class="product-wrap" *ngFor="let product of products; let i = index;"
                [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                <div class="product-inner default-bg">
                    <button mat-flat-button class="product-badge mat-elevation-z7" [ngStyle]="{background: '#fb8c01'}"
                        matTooltip="Agregar al carrito" (click)="addToCart(product)">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                    <div class="featured-img"><img [src]="product.photo" alt=""></div>
                    <div class="info-wrap p-16">
                        <div class="main-info">
                            <h3 class="title"> {{ product.name }} </h3>
                            <p class="p-line"> {{ product?.description }} </p>
                        </div>
                        <div fxFlex="100" fxLayout="row wrap" fxLayout.lt-md="column"
                            fxLayoutAlign="space-between center">
                            <div fxFlex="33.3" fxLayout="row" fxLayoutAlign="center center">
                                <div class="price">
                                    <span>{{product?.priceSmall | currency:"COP":"symbol-narrow"}}</span>
                                    <span class="text-muted"> Pizzeta </span>
                                </div>
                            </div>
                            <div fxFlex="33.3" fxLayoutAlign="center center">
                                <div class="price">
                                    <span>{{product?.priceMedium | currency:"COP":"symbol-narrow"}}</span>
                                    <span class="text-muted"> Mediana </span>
                                </div>
                            </div>
                            <div fxFlex="33.3" fxLayoutAlign="center center">
                                <div class="price">
                                    <span>{{product?.priceLarge | currency:"COP":"symbol-narrow"}}</span>
                                    <span class="text-muted"> Grande </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>