<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/tutustransparente.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenido a TUTU´S PIZZA!
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <!-- <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/tutufondonegro.png">
            </div> -->

            <div class="title">INICIA SESION</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')"> Correo electronico es requerido
                    </mat-error>
                    <mat-error
                            *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        Por favor ingresa un correo electronico valido.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error> Contraseña es requerido</mat-error>
                </mat-form-field>

<!--                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"-->
                <!--                     fxLayoutAlign="end center">-->
                <!--                    &lt;!&ndash;                    <mat-checkbox class="remember-me" aria-label="Remember Me">&ndash;&gt;-->
                <!--                    &lt;!&ndash;                        Remember Me&ndash;&gt;-->
                <!--                    &lt;!&ndash;                    </mat-checkbox>&ndash;&gt;-->

                <!--                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password-2'">-->
                <!--                        Olvidaste tu contraseña?-->
                <!--                    </a>-->
                <!--                </div>-->

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid" (click)="signIn()"> INGRESAR
                </button>

            </form>

            <!--            <div class="separator">-->
            <!--                <span class="text">OR</span>-->
            <!--            </div>-->

            <!--            <div fxLayout="column" fxLayoutAlign="start center">-->

            <!--                <button mat-raised-button class="google">-->
            <!--                    Log in with Google-->
            <!--                </button>-->

            <!--                <button mat-raised-button class="facebook">-->
            <!--                    Log in with Facebook-->
            <!--                </button>-->

            <!--            </div>-->

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">No tienes una cuenta?</span>
                <a class="link" [routerLink]="'/register'">Crear una cuenta</a>
            </div>
        </div>
    </div>
</div>
